<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemora – Danh sách phim</title>
    <link rel="stylesheet" href="css/list-style.css">
    <link rel="stylesheet" href="css/style.css">
    <link 
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" 
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

    <!-- HEADER -->
    <%- include('partials/header', { user }) %>

    <!-- CONTENT -->
    <div class="AT-content">
        <section class="TTcategory-title">
            <h2><% if (lang === "ko") { %> Phim Hàn Quốc
            <% } else if (lang === "zh") { %> Phim Trung Quốc
            <% } else if (lang === "en") { %> Phim Âu Mỹ
            <% } else if (lang === "ja") { %> Phim Nhật Bản
            <% } else if (lang === "vi") { %> Phim Việt Nam
            <% } else if (lang === "th") { %> Phim Thái Lan
            <% } else if (lang === "zh-TW") { %> Phim Đài
            <% } else if (lang === "fr") { %> Phim Pháp
            <% } else if (genre === "Romance") { %> Phim Tình cảm
            <% } else if (genre === "Action") { %> Phim Hành động
            <% } else if (genre === "Horror") { %> Phim Kinh dị
            <% } else if (genre === "Comedy") { %> Phim Hài
            <% } else if (genre === "Anime") { %> Phim Anime
            <% } else if (genre === "Detective") { %> Phim Trinh thám
            <% } else if (genre === "Co-trang") { %> Phim Cổ trang
            <% } else if (genre === "Scifi") { %> Phim Sci-Fi
            <% } else if (genre === "Family") { %> Phim Gia đình
            <% } else if (genre === "Fantasy") { %> Phim Fantasy
            <% } else if (genre === "Series") { %> Phim Bộ
            <% } else if (genre === "Marvel") { %> Phim Marvel
            <% } else if (genre === "4K") { %> Phim 4K   
            <% } else if (genre === "Sitcom") { %> Phim Sitcom
            <% } else if (genre === "Long-tieng") { %> Phim Lồng tiếng
            <% } else if (genre === "Xuyen-khong") { %> Phim Xuyên không
            <% } else { %> Danh sách phim
            <% } %></h2>
            <button class="TTfilter-btn">Bộ lọc</button>
        </section>

        <!-- MOVIE GRID -->
         <% if (movies && movies.length > 0) { %>
         <section class="TTmovie-grid">
        <% movies.forEach(movie => { %>
            <a href="/trang-tt">
            <div class="TTmovie-card">
                <img 
                src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" 
                alt="<%= movie.title %>"
                >
                <h4><%= movie.title %></h4>
            </div>
            </a>
        <% }) %>
        </section>
          <% } else { %>
        <section class="TTmovie-grid">
            <a href="/trang-tt">
                <div class="TTmovie-card">
                    <img src="Images/trangds/mai đến.png" alt="">
                    <h4>Mong Ngày Mai Đến</h4>
                </div>
            </a>
            <div class="TTmovie-card">
                <img src="Images/trangds/tề mi.png" alt="">
                <h4>Chương Thượng Tề Mị</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/rượu.png" alt="">
                <h4>Tình Yêu và Rượu Vang</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/thượng nguyệt.png" alt="">
                <h4>Thượng Nguyệt Vô Tẫn</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/hồ điệp.png" alt="">
                <h4>Ngắm Bắn Hồ Điệp</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/giá như.png" alt="">
                <h4>Giá Như Cha Cho Con Biết</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/og noel.png" alt="">
                <h4>Ông Già Noel Bí Mật Của...</h4>
            </div>
            
            <div class="TTmovie-card">
                <img src="Images/trangds/zui.png" alt="">
                <h4>Zui Dữ Chưa?</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/lệch múi.png" alt="">
                <h4>Lệch Múi Giờ Một Vạn Câ...</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/vẻ đpẹ.png" alt="">
                <h4>Vẻ Đẹp Tái Sinh</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/kình địch.png" alt="">
                <h4>Kình Địch Nóng Bỏng</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/tân nương.png" alt="">
                <h4>Tân Nương Thế Thân</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/Image-11.png" alt="">
                <h4>Bên Lề 2: Pha Chặn Bóng</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/Image-10.png" alt="">
                <h4>Gia Đình Độc Miệng</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/thành phố.png" alt="">
                <h4>Thành Phố Nhảy Múa</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/ám ảnh.png" alt="">
                <h4>Ám Ảnh Trinh Thám</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/vỏ bọc.png" alt="">
                <h4>Vỏ Bọc</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/dracula.png" alt="">
                <h4>Dracula: Bản Tình Ca Bất...</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/Image-5.png" alt="">
                <h4>Cuộc Tình Vụng Trộm</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/Image-4.png" alt="">
                <h4>Kẻ Dưới Vượt Quyền</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/ngày giáng.png" alt="">
                <h4>Cú Ghi Điểm Ngày Giáng...</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/Image-2.png" alt="">
                <h4>Ỷ Mộng Lệnh</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/sâmpanh.png" alt="">
                <h4>Rắc Rối Sâm Panh</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/tsao.png" alt="">
                <h4>Tại Sao Anh Ấy Vẫn Độc...</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/phựng hoàng.png" alt="">
                <h4>Phượng Hoàng Đài Thượng</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/cách mạng.png" alt="">
                <h4>Cách Mạng Tình Yêu 4.0</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/giáng sinh ex.png" alt="">
                <h4>Giáng Sinh Cùng EX</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/nụ hôn.png" alt="">
                <h4>Nụ Hôn Bùng Nổ</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/theo dấu.png" alt="">
                <h4>Theo Dấu Yêu Thương Đã...</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/4 vui.png" alt="">
                <h4>Bốn Chuyện Vui</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/sông trăng.png" alt="">
                <h4>Sông Trăng Hoán Mệnh</h4>
            </div>

            <div class="TTmovie-card">
                <img src="Images/trangds/ích.png" alt="">
                <h4>Luật Sư Công Ích</h4>
            </div>
        </section>
        <% } %>
        <!-- PAGINATION -->
        <div class="TTpagination">
            <button>&lt;</button>
            <span>Trang 1 / 64</span>
            <button>&gt;</button>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include('partials/footer') %>

</body>

</html>